/packages
/x64
/Release
/Debug
/PhoneDatabase

/server/Release
/server/Debug
/server/x64
/server/test
/server/data
/server/server
/server/map

/client/Release
/client/Debug
/client/x64
/client/client

/.vs

*.filters
*.vcxproj
*.config
*.user
*.sln
*.txt
*.csv

!/patronymic_female.csv
!/patronymic_male.csv
!/first_name_female.csv
!/first_name_male.csv
!/last_name_female.csv
!/last_name_male.csv
